*
{
	
}/*End * */

html, body
{
	background-color: #003300;
	color:#009900;
}/* End html, body */

footer
{
	width:100%;
	hight:40px;
	bottom:0;
	background-color:#002104;
	color:#005E0C;
	
#navbar
{
	height:130px;
	padding:10px;
	background-color:#002104;
	color:#005E0C;
	position:fixed;

}

.navbottom
{
	height:60px;
	padding:10px;
	background-color:#002104;
	color:#005E0C;
	position:fixed;
	text-decoration: none;

	
}

.navtop
{
	height:60px;
	padding:10px;
	background-color:#002104;
	color:#005E0C;
	position:fixed;
}

.bio
{
	height:40px;
	width:500px;
	background-color:#005E0C;
	color:#002104;
	font-size:15px;
	border:5px;
	border-color:#002104;

}

.content
{
//hi
}

