*
{

}/*End * */

html, body
{
	background-color: #0a0;
	color:#000;
	width:100%;
	overflow:hidden;
	padding: 0 0 0 0;
	spacing: 0;
	margin: 0;
}

footer
{
	width:100%;
	hight:40px;
	bottom:0;
	background-color:#00aa00;
	color:#000;
	text-align: center;
}

a
{
	text-decoration:none;
}

#navbar
{
	height:100px;
	padding:10px;
	background-color:#002104;
	color:#005E0C;
}

.navbottom
{
	height:20px;
	padding:5px;
	background:#002104;
	color:#afa;
	margin-top:10px;
	text-decoration:none;
}

.navtop
{
	height:60px;
	padding:5px;
	background-color:#002104;
	color:#00aa00;
}

.button
{
	border-radius: 3;
	background-color:#002104;
	color:#005E0C;
	padding: 5px;

}

.bio
{
	height:40px;
	width:500px;
	background-color:#005E0C;
	color:#002104;
	font-size:15px;
	border:5px;
	border-color:#002104;

}

.content
{
	padding-top: 10px;
	padding-bottom: 20px;
}
